---
layout: default
---
{% if page.isDraft %}
<div style="bottom:0;left:0;position:fixed;background:#e2e2e2;width:100%; text-align: center; color: red; font-size: 1.5em">
  Working Draft. Documento não finalizado.
  {% if page.discussion %}
  <a href="{{ page.discussion }}">Saiba mais</a>
  {% endif %}
</div>
{% endif %}
{% if page.isReleaseCandidate %}
<div style="bottom:0;left:0;position:fixed;background:#e2e2e2;width:100%; text-align: center; color: #0045ff; font-size: 1.5em">
  RC. Marcado para revisão.
  {% if page.discussion %}
  <a href="{{ page.discussion }}">Saiba mais</a>
  {% endif %}
</div>
{% endif %}
<article class="post" itemscope itemtype="http://schema.org/Article">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <dl class="dl-meta">
        {% if page.original %}
        <dt>Original</dt>
        <dd>
          <a href="{{ page.original.link }}">{{ page.original.title }}</a> obtida em {% include date-portugues.html date=page.original.dateOfTranslation %}
        <dd>
        {% endif %}
        <dt>Data de atualização do original</dt>
        <dd><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{% include date-portugues.html date=page.date %}</time></dd>

        {% if page.authors %}
        <dt>Autoria</dt>
        {% for author in page.authors %}
        <dd>
          <!--
          @todo nem todos os autores são pessoas. Alterar no futuro esta marcação para permitir
                organizações (fititnt, 2016-09-08 00:58)
          -->
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name"><a rel="author" href="{{ author.link }}">{{ author.name }}</a></span>
          </span>
        </dd>
        {% endfor %}
        {% endif %}
        {% if page.sponsors %}
          <!--
          @todo estou tomando como base http://www.zakon.org/robert/internet/timeline/
                especificamente "Zakon Group LLC and OpenConf". Devemos discutir mais a fundo isso
                (fititnt, 2016-09-08 01:19)
          -->
        <dt>Patrocínio</dt>
        {% for sponsor in page.sponsors %}
        <dd>
          <span itemprop="sponsor" itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name"><a href="{{ sponsor.link }}">{{ sponsor.name }}</a></span>
          </span>
        </dd>
        {% endfor %}
        {% endif %}
        {% if page.translators %}
        <dt>Tradução</dt>
        {% for translator in page.translators %}
        <dd>
          <span itemprop="translator" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name"><a href="{{ translator.link }}">{{ translator.name }}</a></span>
          </span>
        </dd>
        {% endfor %}
        {% endif %}
        {% if page.reviewers %}
        <dt>Revisão de tradução</dt>
        {% for reviewer in page.reviewers %}
        <dd>
          <span itemprop="translator" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name"><a href="{{ reviewer.link }}">{{ reviewer.name }}</a></span>
          </span>
        </dd>
        {% endfor %}
        {% endif %}
      </dl>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.isDraft %}
    <div class="alert-wd">
      <h2 class="alert-wd-tt">Versão rascunho de trabalho de tradução</h2>
      Documento em processo de tradução. Não é seguro usar como referência!
      Aguarde lançamento da versão <strong>candidata a lançamento</strong>
      ou a versão <strong>estável</strong>.
      {% if page.discussion %}
      Veja a <a href="{{ page.discussion }}">discussão desta tradução no Github</a>.
      {% endif %}
    </div>
    {% endif %}
    {% if page.isReleaseCandidate %}
    <div class="alert-rc">
      <h2 class="alert-rc-tt">Versão candidata a lançamento da tradução final</h2>
      Tradução em processo de revisão final. Sugestões de melhorias no português
      ou mesmo discussões sobre problemas técnicos são bem vindas.
      {% if page.discussion %}
      Veja a <a href="{{ page.discussion }}">discussão desta tradução no Github</a>.
      {% endif %}
    </div>
    {% endif %}

    {{ content }}
  </div>
  <footer>
    <hr style="margin: 1em auto ">
    {% if page.license %}<p class="post-meta"> Licença: <strong>{{ page.license }}</strong></p>{% endif %}
    {% if page.license-custom %}<p class="post-meta"> Licença: <strong>{{ page.license-custom }}</strong></p>{% endif %}
    {% if page.copyright %}<p class="post-meta"><strong>{{ page.copyright }}</strong></p>{% endif %}
    {% if page.license == null and page.license-custom == null %}
    <!--
    <p>
      <strong>Licença de uso</strong>: Esta tradução usa licença de uso genérica
    </p>
    -->
    {% endif %}
    <p id="contribua">
      Tem sugestões de melhoria, encontrou erros, ou mesmo esta tradução está
      desatualizada em relação a original?
      <a href="{{ page.discussion }}">Discuta melhorias deste texto</a>.
    </p>
  </footer>
</article>